page {
  height: 100%;
  background-color: #ffffff;
}

view, text, button {
  box-sizing: border-box;
}

/* 隐藏TabBar图标 */
.weui-tabbar__icon {
  display: none !important;
}

/* 增大TabBar文字 */
.weui-tabbar__label {
  font-size: 32rpx !important;
}